



.Hero {

    width:100; 
    height:250px;
    background:url("https://res.cloudinary.com/seoyoung/image/upload/c_scale,w_2000/v1680774056/beach-5782424_ltu2aq.jpg") no-repeat center bottom;
    object-fit:cover; 
    text-align:center;
    line-height:250px;
    color:#fff; 
    font-size:18px;
    animation: motion 20s linear 0s infinite alternate; margin-top: 0;
}


@keyframes motion {
	0% {background:url("https://res.cloudinary.com/seoyoung/image/upload/c_scale,w_2000/v1680774056/beach-5782424_ltu2aq.jpg") no-repeat center bottom;}
	100% {background:url("https://res.cloudinary.com/seoyoung/image/upload/c_scale,w_2000/v1680774056/beach-5782424_ltu2aq.jpg") no-repeat center top;}
}


.ImgCon {
    width:80%; 
    margin: 5rem auto;
    display:flex; 
    flex-wrap:wrap;
    gap: 10px; 
}

.ImgCon div{

    width:32%;
    position:relative;
    display:flex;
    overflow:hidden; 

}

.ImgCon div img {

   width:100%;
   height:100%;
   
}


.ImgCon div img:hover{
    transform:scale(1.1); 
    transition: transform 1s; 
}



@media screen and (max-width: 1200px) {

   
    
    .ImgCon div{
    
        width:49%;
        position:relative;
        display:flex
    
    }

 
  }

  @media screen and (max-width: 700px) {

   
    
    .ImgCon div{
    
        width:100%;
        position:relative;
        display:flex
    
    }

 
  }